#header{
    margin-bottom: 2rem;
}
@media (max-width: 900px) {
    #header {
        font-size: 13px;
    }
}
@media (max-width: 600px) {
    #header {
        font-size: 12px;
    }
}
@media (max-width: 320px) {
    #header {
        margin-left: 4.5rem;
        font-size: 9px;
    }
}

.logo{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 43px;
}

.edit-logo{
    margin: 1.5rem 8rem;
}

.left-header-part img{
    width: 6em;
    height: 6em;
    padding: .7em;
    border: 4px dashed var(--primary-color);
    margin-right: 2em; 
    margin-top: 1em;
}



.circle-profile-img{
    width: 15em;
    height:15em;
    padding: 1.5em;
    border-radius: 500px;
    border:4px dashed var(--main-icon-color);
    box-sizing: border-box;
}

.circle-profile-img:hover{
    opacity: .9;
}

.left-header-part {
    display: flex;
    align-items: center;
    gap: 10px 40px;
}

.left-header-part .create-btn{
    padding: 0.7rem;
    background: #6a4cff;
    border-radius: 2px;
    cursor: pointer;
}
.room-btn.create {
    
    width: max-content;
}
.room-btn a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 0.7rem;
    background: #6a4cff;
    border-radius: 2px;
    cursor: pointer;
}
.room-btn .join-private{
    width: max-content;
    color: white;
    font-size: 15px;
    padding: 0.5rem;
    background: #6a4cff;
    border-radius: 4px;
    cursor: pointer;
}


@media (max-width: 600px) {
    .room-btn a,
    .room-btn .join-private {
        font-size: 10px;
    }
}


@media (max-width: 320px) {
    .room-btn a,
    .room-btn .join-private {
        font-size: 9px;
    }
}