.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    background-color: #25242d !important;
}

.navbar-pf-img {
    width: 3rem;
    height: 3rem;
    padding: 4px;
    border-radius: 50%;
    border: 1px dashed #6a4cff;
}

.li-item {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

#header{
    margin-bottom: 2rem;
    align-items: center;
    gap: 0px 6px;
    margin-top: 15px;
}
@media (max-width: 900px) {
    #header {
        font-size: 13px;
    }
}
@media (max-width: 600px) {
    #header {
        font-size: 12px;
        justify-content: unset;
    }
}
@media (max-width: 320px) {
    #header {
        /* margin-left: 4.5rem; */
        font-size: 9px;
        justify-content: unset;
    }
}
@media (max-width: 320px) {
    .home-header{
        margin-left: 2.5rem;
    }
}


.edit-logo{
    /* margin: 1.5rem 8rem; */
    margin-left: 6rem;
}

.logo img {
    width: 4rem;
    height: 4rem;
}

.left-header-part img{
    width: 6em;
    height: 6em;
    padding: .7em;
    border: 4px dashed var(--primary-color);
    margin-right: 2em; 
    /* margin-top: 1em; */
}



.circle-profile-img{
    width: 10em;
    height: 10em;
    padding: 1.5em;
    border-radius: 500px;
    border:4px dashed #6A4CFF;
    box-sizing: border-box;
}

.circle-profile-img:hover{
    opacity: .9;
}

.left-header-part {
    display: flex;
    align-items: center;
    gap: 10px 40px;
    margin-right: 30px;
}
@media (max-width: 750px) {
    .left-header-part  {
        gap: 10px 8px;
    }
}

.join-create-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px 20px;
}
@media (max-width: 750px) {
    .join-create-div  {
        flex-direction: column;
        gap: 15px 0;
        margin-top: 1rem;
    }
}


@media (max-width: 400px) {
    .join-create-div  {
        flex-direction: column;
        gap: 15px 0;
        margin-top: 1rem;
    }
}

.left-header-part .create-btn{
    padding: 0.7rem;
    background: #6a4cff;
    border-radius: 2px;
    cursor: pointer;
}
.room-btn.create {
    
    width: max-content;
}
.room-btn a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 0.7rem;
    background: #6a4cff;
    border-radius: 2px;
    cursor: pointer;
}
.room-btn .join-private{
    width: max-content;
    color: white;
    font-size: 15px;
    padding: 0.5rem;
    background: #6a4cff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}


@media (max-width: 750px) {
    .room-btn a,
    .room-btn .join-private {
        font-size: 10px;
    }
}


@media (max-width: 400px) {
    .room-btn a,
    .room-btn .join-private {
        font-size: 9px;
    }
}