.podcasts-container{
    display: flex;
    flex-wrap: wrap;
}



.podcast-component{
    margin: 2rem;
    background-color: #1B1C1F;
    border-radius: 1.3rem;
    /* width: 458px; */
    display: flex;
    color: #535456;
}

.podcast-component hr{
    margin: .5rem 0;
}


/* .podcast-component {
    margin-left: 1.8em;
} */

.podcast-component-heading{
    margin: 4rem 2rem 3rem;
}

/* .podcast-component-heading::after{
    content: '';
    width: 400px;
    height: 3px;
    display: block;
    margin: 3rem 0rem;
    background-color: #BCBCBC ;
    position: absolute;
} */

.podcast-component .pic img{
    padding: 1.3rem;
    background-color: #242629;
    border-radius: 23px 0px 0px 23px;
    margin: 1rem;
    width: 9.4em;
    height: 12.1em;
} 

.description .podcast-name h4 {
    color: white;
}


.description span{
    color: #838588;
    font-size: 1rem;
}
.description a {
    text-decoration: none;
    color: #838588;
    /* font-size: 1rem; */
}
@media (max-width: 900px) {
    .description .podcast-name h4,
    .description a{
        font-size: 14px;
    }
}
@media (max-width: 600px) {
    .description .podcast-name h4,
    .description a {
        font-size: 12px;
    }
}
@media (max-width: 400px) {
    .description .podcast-name h4,
    .description a {
        font-size: 11px;
    }
}



.description hr{
   height: 2px;
   width: 14rem;
}

.description .likes {
    display: flex;
    gap: 0px 15px;
}

.pod-palyer-container {
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1px 13px;
    position: fixed;
    z-index: 20000;
    justify-content: flex-end;
    bottom: 0px;
    right: 13px;
    padding: 10px;
    background: #0c0b0e;
    border-radius: 15px 15px 0 0;
    box-shadow: 0px -6px 17px #1b1c1f;
}
.pod-player .pod-name{
    margin-left: 6px;
}
.pod-palyer-container .fa-x {
    cursor: pointer;
}
.play-podcast-btn{
    background-color: #242629;
    color: white;
    width: 6rem;
    height: 2.5rem;
    border-radius: 31.5px;
   
    outline: none;
    border: none;
    text-decoration: none;
}

.play-podcast-btn:hover {
    color: white;
}

.description .inner-infos{
    line-height: 1.78;
    
}

.description .inner-infos img{
    width: 2rem;
    height: 2rem;
    margin: 3px;
    line-height: 1.7px;
}