.search{
    margin-top: 2em;
    margin-right:3em ;
}

.home-search {
    margin-top: 1.3rem;
    margin-right: auto;
    margin-left: 1rem;
}

@media (max-width: 600px) {
    .home-search {
        font-size: 11px;
    }
}

@media (max-width: 320px) {
    .home-search {
        font-size: 9px;
        /* margin-left: 1rem; */
    }
}

.search li{
    list-style: none;
}

.search-box {
    background-color: #25242D;
    width: 24em;
    height: 3.3em;
    border-radius: 2em;
    padding: 9px;
    margin-top: 3em;
    margin-bottom: 1em;
}

.search-box-home {
    width: 18rem;
    margin-top: 0;
}
@media (max-width: 600px) {
    .search-box-home {
        width: 12rem;
        font-size: 11px;
    }
}

@media (max-width: 320px) {
    .search-box-home {
        width: 10rem;
        font-size: 9px;
    }
}

.search-box .searchIcon{
    color: white;
    /* width: 1rem;
    height: 5rem; */
    margin-left: 1em ;
    cursor: pointer;
}

@media (max-width: 600px) {
    .search-box .searchIcon {
        width: 21px;
    }
}

@media (max-width: 320px) {
    .search-box .searchIcon {
        width: 19px;
    }
}

.search-input{
    background-color: #25242D;
    color: #928F9B;
    border: none;
    outline: none;
    width: 80%;
    font-size: 17px;
}

@media (max-width: 900px) {
    .home-input {
        font-size: 13px;
    }
}

@media (max-width: 600px) {
    .home-input {
        font-size: 11px;
    }
}

@media (max-width: 320px) {
    .home-input {
        font-size: 9px;
    }
}
