
/* Spinner*/
.spinner {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .spinner:after {
    content: ' ';
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #6a4cff;
    border-color: #6a4cff transparent #6a4cff transparent;
    animation: spinner 1.2s linear infinite;
  }
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}