
* {
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :root{
    /* ===== Colors ===== */
    --body-color: #0C0B0E;
    --sidebar-color: #232229;
    --primary-color: #999191;
    --primary-color-light: #FFFFFF;
    --secondary-color: #6A4CFF;
    --toggle-color: #DDD;
    --active-color: #FFACA9;
  
    /* ====== Transition ====== */
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
  }
  
  html, body {
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    /* background: #eee; */
    font-family: 'Poppins', sans-serif;
    background-color: var(--body-color);
    /* transition: var(--tran-05); */
  }
  body{
    min-width: 450px;
  }
  
  
  button, label, .hand-over {
    cursor: pointer;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .all-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  

/* create room*/
.create-room-container {
  width: 100%;
  background-color: rgba(0,0,0);
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3000;
}
.create-room-container.show-modal {
  display: none;
}
  
  #page {
    /* width: 1; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
    margin-left: 49px;
  }
  
  #page .house {
    width: 80%;
    min-width: 331.908px;
    height: 600px;
    background: var(--primary-color);
    border-radius: 33px;
    margin-top: 65px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #page .house .screen {
    width: calc(100% - 9px);
    height: calc(100% - 9px);
    max-height: 100%;
    background: var(--sidebar-color);
    background-repeat: no-repeat;
    background-clip: content-box;
    background-origin: content-box;
    background-size: cover;
    border-radius: 33px;
    padding: 0;
    overflow: hidden;
  }
  
  #page .house .screen main {
    width: 100%;
    height: 85%;
    /* background: #fff; */
    overflow: auto;
    border-radius: 32px 32px 0 0;
    padding: 16px;
    margin-top: 24px;
  
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), conic-gradient(from 142.8deg at 37.82% 47.52%, #3D2E87 0deg, rgba(48, 41, 80, 0) 346.88deg, #3D2E87 360deg);
    color: var(--primary-color-light);
  }
  
  #page .house .screen main {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  #page .house .screen main::-webkit-scrollbar {
    display: none;
  }
  
  #page .house .screen main .title {
    font-size: 14px;
  }
  
  #page .house .screen main > div {
    width: 100%;
    /* height: 100%; */
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  /* #page .house .screen main > div .user {
    width: 100px;
    height: 85px;
    margin: 8px;
    overflow: hidden;
    display: flex;
  } */
  
  #page .house .screen main > div .user {
    width: 15%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    position: relative;
    margin-top: 16px;
  }
  
  @media (max-width: 850px) {
    #page .house .screen main > div .user {
        width: 25%;
        min-width: 25%;
    }
  }

  @media (max-width: 450px) {
    #page .house .screen main > div .user {
        width: 35%;
        min-width: 35%;
    }
  }

  #page .house .screen main > div .user .avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    overflow: hidden;
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    top: 1px;
    left: calc(37% - 50.5px); */
  }
  
  #page .house .screen main > div .user .avatar img {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    cursor: pointer;
  }

  #page .house .screen main > div .user .avatar img.volume-indicator {
    border: 3px solid transparent;
  }
  
  
  
  #page .house .screen main > div .user > .fun,
  #page .house .screen main > div .user > .mic,
  .request-hand-img {
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .request-hand{
    
    position: absolute;
    top: 40px;
    left: 0px;
  }
  
  /* #page .house .screen main > div .user > .fun {
    top: 38px;
    left: 1px;
  } */
  
  #page .house .screen main > div .user > .mic {
    position: absolute;
    top: 40px;
    left: 46px;
  }
  
  #page .house .screen main > div .user > .fun > img,
  #page .house .screen main > div .user > .mic > img,
  .request-hand-img  {
    width: 15px;
    height: auto;
  }
  
  #page .house .screen main > div .user .user-name {
    width: 95%;
    /* position: absolute;
    top: 70px;
    left: 15px; */
    font-weight: 700;
    overflow: hidden;
    display: flex;
   justify-content: flex-start;
    /* align-items: center;
    flex-wrap: nowrap; */
    font-size: 10px;
    word-wrap: break-word;
  }
  /* @media (max-width: 1200px) {
    #page .house .screen main > div .user .user-name {
        left: 0px;
    }
  }
  @media (max-width: 850px) {
    #page .house .screen main > div .user .user-name {
        left: 1px;
    }
  }
  @media (max-width: 600px) {
    #page .house .screen main > div .user .user-name {
        left: -8px;
    }
  } */
  
  #page .house .screen main > div .user .user-name.speaker,
  #page .house .screen main > div .user .user-name.listener {
    flex-direction: column;
    margin-left: 11px;
    margin-top: 5px;
  }
  
  #page .house .screen main > div .user .user-name .user-role{
    font-size: 8px;
    color: var(--primary-color);
  }
  
  
  #page .house .screen main > div .user .user-name img {
    width: 11px;
    height: 11px;
    margin-right: 3px;
  }
  
  #page .house .screen footer {
    width: 100%;
    height: 80px;
    background: var(--sidebar-color);
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #page .house .screen footer .bt-options {
    width: 100%;
    height: 60px;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 8px 12px;
  }
  
  #page .house .screen footer .bt-options > div {
  
    display: flex;
  }
  
  #page .house .screen footer .bt-options button {
    width: 130px;
    height: 35px;
    border-radius: 30px;
    border: none;
    color: var(--body-color);
    font-weight: bold;
  }
  
  #page .house .screen footer .bt-options .plus,
  #page .house .screen footer .bt-options .hand,
  #page .house .screen footer .bt-options .arrow{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #eee;
    margin-left: 8px;
  }
  
  #page .house .screen footer .bt-options .plus img,
  #page .house .screen footer .bt-options .hand img,
  #page .house .screen footer .bt-options .arrow img {
    width: 16px;
    height: auto;
  }
  
  
  
  /*user card modal*/

.modal-container {
  background-color: rgba(0,0,0, 0);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 300px;
  margin-left: 5rem;
  z-index: 3000;
}
.modal-container.show-modal{
  display: block;
}
.user-modal {
  border-radius: 5px;
  color: var(--primary-color-light);
  background: var(--body-color);
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.user-info a {
  text-decoration: none;
  color: var(--primary-color-light);
}
.user-info a:hover {
  color: var(--secondary-color);
}
.user-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 2px;
}
.user-img img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.controls {
  padding: 10px;
  display: flex;
  gap: 10px 10px;
}

.controls button {
  color: var(--primary-color-light);
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 4px;
  border: none;
  width: 120px;
  font-size: 18px;
}

.close-modal {
  width: 100%;
  position: relative;
}
.close-modal span {
  position: absolute;
  bottom: -7px;
  right: -12px;
  font-size: 20px;
  cursor: pointer;
}

.record-room{
  visibility: visible;
  animation: recordRoom 2s linear infinite;
}

@keyframes recordRoom {
  0% {
    visibility: hidden;
  }
  20% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  70% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}