:root{
    --primary-color: #6A4CFF;
    --sidebar-primary-color: #6A4CFF;
    --main-dark-color: #0C0B0E;
    --main-gray-color: #232229;
    --main-icon-color: #FFACA9;
    --hover-bg-color: #1B1923; 
    --text-color: #FFFFFF;
    --text-secondary-color: #928a8e;
}

html{
    font-size: var(--root-font-size);
}
body{
    background-color: var(--main-dark-color) ;
    color: var(--text-color);
    /*overflow: hidden;*/
}


/* .hidden {
    display: none;
} */



/*start side Bar */

.sideBar{
    position: fixed;
    top:0;
    left:-210px;
    background-color: var(--main-gray-color);
    width: 290px;
    /* height: -webkit-fill-available; */
    z-index: 1000;
    height: 100vh;
    /* color:#928F9B; */
   transition: .3s;
}

.sideBar.opened{
    left:0;
}

.sidebar-logo{
    color: var(--sidebar-primary-color);
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 43px;
}

.sideBar .sidebar-logo::after{
    content: '';
    width: 1px;
    height: 53px;
    display: block;
    position: relative;
    left: 136px;
    top: -41px;
    background-color: #403F46;

}

.sideBar .bar-icon{
    position: absolute;
    width: 54.08px;
    height: 34.31px;
    left: 214px;
    top: 35px;
    cursor: pointer;
    display: none;
}

.sideBar .bar-icon.appear{
    display: block;
}

.sideBar .top{
    margin: 25px 25px 20px;
}

.sideBar ul{
    display: block;
}


.sideBar ul .navbar-item{
    height: 65px;
    width: 290px; /*19%*/
    display: flex;
    flex-direction: row-reverse;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 30px;
    padding: 18px;
    cursor: pointer;

}


.sideBar ul .navbar-item h3 {
    margin-left: 28px;
    line-height: .7;
    font-weight:400;
}

/* @media (max-width: 600px) {
    .sideBar ul .navbar-item h3 {
        font-size: 11px;
    }
}

@media (max-width: 320px) {
    .sideBar ul .navbar-item h3 {
        font-size: 9px;
    }
} */

.sideBar ul .navbar-item a {
    text-decoration: none;
    color: var(--text-secondary-color);

}
.sideBar ul .navbar-item.sidebar-links {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.sideBar ul .navbar-item.sidebar-links.logout-div{
    width: 100%;
}

.sideBar .navbar-item.active{
    color: white;
}

.sideBar .navbar-item:hover{
    background-color: var(--hover-bg-color);
}

.highlight{
    background-color: var(--hover-bg-color);
}

.sideBar .bar-icons{
    /* color: var(--main-icon-color);
     */
     color: var(--text-color);
    font-size: 1.375rem;

    margin-right: 1.1rem;
    /* margin-left: 5px; */
    /* position:absolute;
    right:35px; */

}
/* 
@media (max-width: 600px) {
    .sideBar .bar-icons {
        font-size: 11px;
    }
}

@media (max-width: 320px) {
    .sideBar .bar-icons {
        font-size: 9px;
    }
} */

.logout-div{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

/*end side bar */