:root{
    --primary-color: #6A4CFF;
    --sidebar-primary-color: #6A4CFF;
    --main-dark-color: #0C0B0E;
    --main-gray-color: #232229;
    --main-icon-color: #FFACA9;
    --hover-bg-color: #1B1923; 
    --text-color: #FFFFFF;
    --text-secondary-color: #928a8e;
}

html{
    font-size: var(--root-font-size);
}
body{
    background-color: var(--main-dark-color) ;
    color: var(--text-color);
    min-width: 320px;
}

/* .container{
    margin-left: 6em;
    margin-top: 6em;
}


.search{
    margin-top: -4em;
    
} */

@media (max-width: 900px) {
    .search {
        font-size: 13px;
    }
}
@media (max-width: 600px) {
    .search {
        font-size: 11px;
    }
}
@media (max-width: 400px) {
    .search {
        font-size: 10px;
    }
}

.search-box {
    width: 34em;
    height: 3em;
}

@media (max-width: 600px) {
    .search-box  {
        width: 24em;
    }
}
@media (max-width: 400px) {
    .search-box  {
        width: 24em;
    }
}

/* .search-input{
    margin-left: 1em;
} */

.categories-container{
    max-width: 50em;
    flex-wrap: wrap;
}

@media (max-width: 900px) {
    .categories-container {
        font-size: 13px;
    }
}
@media (max-width: 600px) {
    .categories-container {
        font-size: 11px;
    }
}
@media (max-width: 400px) {
    .categories-container {
        font-size: 10px;
    }
}

.categorie-component{
    background-color: #25242D;
    color: #C8C6CE;
    padding: 1em;
    margin: 1em;
    border-radius: 2em;
    min-width: 6em;
    height: 3.5em;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}

.categorie-component:hover{
    background-color: var(--primary-color) ;
}

.categorie-component.active{
    background-color: var(--primary-color) ;
}

.podcasts-veiw-container{
    flex-wrap: wrap;
    font-size: 13px;
}
@media (max-width: 900px) {
    .podcasts-view-container{
        font-size: 13px;
    }
}
@media (max-width: 600px) {
    .podcasts-view-container {
        font-size: 11px;
    }
}
@media (max-width: 400px) {
    .podcasts-view-container {
        font-size: 10px;
    }
}

/* .podcast-component{
    margin-left: 3rem;
} */

/*feed back*/

.feed-back {
    width: 400px;
    max-height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px 4px;
    padding: 10px;
}
.feed-back a {
    text-decoration: none;
    color: #0c0b0e;
    background: white;
    padding: 5px;
    width: fit-content;
    display: block;
    border-radius: 6px;
}


.feed-back.fail{
    background:#6a4cff;
}

.feed-back-text {
    display: inline-block;
}
.feed-back .clear-feed-back{
    cursor: pointer;
}

/*load more*/
.load-more,
.load-more-category {
    text-align: center;
    margin-bottom: 2rem;
}

.load-more-btn {
    background: #6A4CFF;
    border: none;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
}