.bkground{
    background: var(--main-background);
    /* height: 100vh; */
    box-sizing:border-box;
}


/* .edit-logo{
    margin: 1.5rem 8rem;
} */

.contain-content{
    display: flex;
    justify-content: space-between;
    
}

.static-content{
    display: flex;
    /*flex-direction: column; */
}

.left-infos .current-camera-icon{
    top: 5.4em;
    left: 6.5em;
}

.edit-buttons{
    display: flex;
    flex-direction: column;
}

.edit-buttons button{
    width: 10em;
    height: 2.5em;
    font-size: 25px;
    font-weight: 500;
    margin-top: 1.5em;
}

.left-infos .circle-profile-img{
    margin: 2rem;
}

.left-infos .general h2{
    margin-left: 4.5rem;
   
}

.right-form{
    margin-left: 3em;
    margin-top: 12em;
    margin-bottom: 2em;
    
}

.right-form label {
    font-weight: 400;
    color: white;
    font-size: 2.3rem;
}

.right-form input[type="text"],
.right-form input[type="password"],
textarea
{
    background-color: #282730;
    width: 20em;
    height: 3em;
    outline: none;
    border: none;
    border-radius: .5em;
    color: #706B82;
    margin-top: 2rem;
    margin-bottom: 1.7rem;
    padding: 1rem;
    font-size: 1.5rem;
}

.right-form input[type="submit"]{
    margin-top: .8rem;
    width: 22em;
    height: 3em;
    outline: none;
    border: none;
}

/* a{
    display:inline-block;
    width:100%;
    height:100%;
} */

.btn-container-acc{
    justify-content: space-evenly;
}

.btn-container-acc input{
    width: 10em;
   
}


/************************************ responsive ***************************************/

@media(max-width:900px){

    .contain-content{
       
        flex-direction: column;
        
    }

    .static-content{
        
        flex-direction: column; 
    }

    .right-form input[type="text"], .right-form input[type="password"] {
        
        width: 20rem;
       
    }

    .right-form input[type="submit"] {
       
        width: 20rem;
    }

    .bkground {
        background: none;
    }
    

    .container {
        padding-right: 2rem;
        margin-left: 6rem;
    }

    .right-form {
        margin-left: 0em;
        margin-top: 6em;
       
    }

    .left-infos .general h2 {
       width: 12rem;
    }

}