:root{
    --primary-color: #6A4CFF;
    --main-dark-color: #0C0B0E;
    --main-gray-color: #232229;
    --main-icon-color: #FFACA9;
    --hover-bg-color: #1B1923; 
    --main-background:linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), conic-gradient(from 142.8deg at 37.82% 47.52%, #3D2E87 0deg, rgba(48, 41, 80, 0) 346.88deg, #3D2E87 360deg);
    --root-font-size: 100%;
}


html{
    font-size: var(--root-font-size);
}


.hidden {
    display: none;
}

label {
    font-weight: 400;
    color: white;
    font-size: 2.3rem;
}


.current-camera-icon{
    position: absolute;
    top: .6em;
    left: 7.5em;
    font-size: 3.5em;
    opacity: .8;
    color: #C8C6CE;
    cursor: pointer;
}

.current-camera-icon:hover{
   opacity: 1;
   color: white;

}


.logo{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 43px;
}

.circle-profile-img{
    width: 15em;
    height:15em;
    padding: 1.5em;
    border-radius: 500px;
    border:4px dashed var(--main-icon-color);
    box-sizing: border-box;
}

.circle-profile-img:hover{
    opacity: .9;
}

.btn-follow-profile{
    color: white;
    font-size: 1.375rem;
    font-weight: bold;
    margin-top: 60px;
    outline: none;
    border: none;
    width: 450px;
    height: 55px;
    background: #6A4CFF;
    border-radius: 11px;

}

.follow-following{
    transition: .2s;
    border: none;
}


.btn-following-profile{
    color: #2E2828;
    font-size: 1.375rem;
    font-weight: bold;
    margin-top: 60px;
    outline: none;
    width: 450px;
    height: 55px;
    background: #FFACA9;
    border-radius: 11px;
    
}


.popup-overlay,
.delete-podcast-popup-overlay,
.event-post-popup-overlay,
.delete-event-popup-overlay,
.update-event-popup-overlay{
    position: fixed;
    background-color: rgb(0, 0, 0,.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

}
.popup-box {
    background-color: rgb(255, 255, 255);
    background: var(--main-background);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1em;
    z-index: 1001;
    width: 34em;
    height: 14em;
    border-radius: 2em;
    box-shadow: 0px 0px 6px #caddf0;
}


.popup-message
{
    max-width: 100%;
    font-size: 2rem;
    color: white;

}

.event-post-popup-overlay{
    background: #0c0b0ef5;
    
}

.event-post-popup-overlay .popup-box{
    background: linear-gradient(162.77deg, #8A8A98 7.68%, rgba(74, 74, 79, 0) 93.51%);
    border: 1px solid #9B9B9E;
    box-sizing: border-box;
    border-radius: 16px;
    height: 33em;
}

.event-post-popup-overlay .popup-box .post-description-container{
    background: #cbc7c7;
    border-radius: 45px 45px 0px 0px;
    color: #0C0B0E;
    font-size: medium;
    font-weight: 500;
    width: 32em;
    height: 16.9em;
    padding: 3em;
    margin-top: 1em;
    overflow: auto;
}

.post-main-content{
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event-post-popup-overlay .popup-box img{
    position: absolute;
    width: 11em;
    height: 11em;
    border-radius: 50rem;
    left: 20em;
    top: -3.5em;

}

.feed-back {
    width: 400px;
    display: flex;
    justify-content: space-between;
    gap: 2px 4px;
    padding: 10px;
    background: #6a4cff !important;
}
.feed-back.sucsses{
    background: #6a4cff;
}

/* .feed-back.fail{
    background:#ac071f;
} */

.feed-back-text {
    display: inline-block;
}
.feed-back i {
    cursor: pointer;
}
.feed-back a {
    font-size: 17px;
    text-decoration: none;
    color: var(--primary-color-light);
    background: var(--sidebar-color);
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
}

/***********************/

.del-pod-name{
    color: var(--main-icon-color);
    font-weight: bolder;
}

.popup-overlay input[type='text'], select {
    background-color: #282730;
    width: 20em;
    height: 3em;
    outline: none;
    border: none;
    border-radius: .5em;
    color: #706B82;
    margin-top: 2rem;
    margin-bottom: 1.7rem;
    padding: 1rem;
    font-size: 1.5rem;
}

.popup-overlay p {
    font-size: 1.5rem;
}

#upload-podcast{
    margin-top: 1rem;
}