:root{
    --primary-color: #6A4CFF;
    --main-dark-color: #0C0B0E;
    --main-gray-color: #232229;
    --main-icon-color: #FFACA9;
    --hover-bg-color: #1B1923;
    --root-font-size: 100%;
}

html{
    font-size: var(--root-font-size);
}
body{
    background-color: var(--main-dark-color) ;
    min-width: 330px;
}


.hidden {
    display: none;
}

.podcast-content .emptyMessage{
    margin-left: 2em;
}


.emptyMessage{
    font-size: 1.5rem;
    color: #e8e0d2;
}

/*start profile main content*/ 



/*
.container .main-content{
   
}
*/

.main{
    width: 100%;
    margin-top: 1.5rem;
    margin-left: 1rem;
}

.profile-veiw{
    width: 100%;
    height: auto;
    border-radius: 38px;
    /* position: relative; */
    color: white;
}

.userImg-and-podBtn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 31px 22px;
}

.user-image{
    position: relative;
}

.profile-veiw img{
    width: 8em;
    height: 8em;
    padding: .7em;
    border-radius: 50%;
    border:4px dashed #6F52FF;
    box-sizing: border-box;
    /* position: absolute;
    top: -97px;
    left: 295px; */
}


.profile-veiw .info{
    display: flex;
    justify-content: space-around;
    margin-top: 2em;

}

.profile-veiw .info span{
    color: #DBBBBA;
}

.profile-veiw .info span.active{
    color: #FFACA9;
}

.profile-veiw .info div span{
    cursor: pointer;
    text-decoration: underline;
}

.main-content {
    width: 98vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .inside {
    margin-bottom: 10rem;
} 

.btn-follow-profile{
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 1em;
    outline: none;
    width: 12rem;
    height: 2.5em;
    background: #6A4CFF;
    border-radius: 11px;

}

.follow-following{
    transition: .2s;
    border: none;
}


.btn-following-profile{
    color: #2E2828;
    font-size: 1.375rem;
    font-weight: bold;
    margin-top: 1em;
    outline: none;
    width: 12rem;
    height: 2.5em;
    background: #fff;
    border-radius: 11px;
    border: none;
}


/*end profile main content*/


/*start side content*/

.container .side-content::before{
    content: '';
    width: 3px;
    min-height: 100vh;
    display: block;
    background-color:#403F46 ;
    position: absolute;
}


.container .side-content{
    /*background-color: #8eff4c;*/
    position: relative;
}

::-webkit-scrollbar{
    width:.8em;
}

::-webkit-scrollbar-track{
    background-color: #535456;
    border-radius: 100vw;
   
}

::-webkit-scrollbar-thumb{
    background-color: #1B1C1F;
    border-radius: 100vw;
    border: 2px solid #28292c ;
    
}

.side-content .scroll,
.top-pods-container .scroll,
.searce-pods-container .scroll{
    margin-top: 5rem;
    height: 29rem;
    overflow: auto;
    overflow-x: hidden;
}

/*end side content*/


/* followers content*/

#f ,
.top-pods-container ul,
.searce-pods-container ul{
    list-style: none;
    width: 30rem;
} 

.follow-btn{
    color: white;
    font-size: 1.375rem;
    font-weight: bold;
    margin-top: 1.3rem;
    outline: none;
    width: 130px;
    height: 45px;
    background: #6A4CFF;
    border-radius: 11px;
    border: none;
}

.following-btn{
    color: #2E2828;
    font-size: 1.375rem;
    font-weight: bold;
    margin-top: 1.3rem;
    outline: none;
    width: 130px;
    height: 45px;
    background: #FFACA9;
    border-radius: 11px;
    border: none;
}

#f{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
    width: 100%;
    /* margin-left: 8em; */
}
#f li {
    /* padding: .8rem; */
    /* width: 50%; */
    margin-bottom: 3.3rem;
    /* margin-left: 5rem; */
    flex: 1 0 37%;
    padding: 5px;
}


.top-pods-container ul li,
.searce-pods-container ul li{
    padding: .8rem;
    margin: .3rem;
   
} 

#f li p,
.top-pods-container ul li p,
.searce-pods-container ul li p{
    color: white;
    font-size: 1.375rem;
    font-weight: 500;

} 

.mll {
   /*  margin-left: -30% !important; */
    margin-left: 6% !important;
}

.mgs-output{
    margin-top: 3rem;
}
.custom-center{
   
    /* margin: auto; */
    width: 100%;
    /* border: 3px solid green; */
    padding: 10px;
    display: flex;
    justify-content: center;
      
}
#f li p span,
.top-pods-container ul li p span,
.searce-pods-container ul li p span{
    color: #827C7C;
    font-size: 1rem;
    font-weight: 500;

} 

#f img,
.top-pods-container img,
.searce-pods-container img{
    width: 5rem;
    height: 5rem;
    margin-right: .5rem;
}
#f img {
    border-radius: 3em;
}

/************ end ***********/


/* current user*/

.current-camera-icon{
    position: absolute;
    top: 69px;
    left: 94px;
    font-size: 3em;
    opacity: .8;
    color: #C8C6CE;
    cursor: pointer;
}

.current-camera-icon:hover{
   opacity: 1;
   color: white;

}

.add-podcast-btn{
    background-color: #25242D;
    outline: none;
    border: none;
    width: 10em;
    height: 2.3em;
    color: #C8C6CE;
    font-size: 1.5rem;
    border-radius: 50em;
    margin-top: .5em;
    /* margin-left: 12em; */
}

.disc-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.podcast-component .delete-icon{
    /* margin: 0rem -1.5rem; */
    cursor: pointer;
}

.podcast-component .delete-icon:hover{
    opacity: .5;
}



.user-bio{
    font-weight: 500;
    color: #838588;
    /* width: 21em; */
    
}






#cancel-deleation:hover,
#confirm-deleation:hover{
    opacity: .5;
}
/*end of current user*/

.btnHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px 10px;
    flex-wrap: wrap;
}

/* .delBtn{
    width: 10em;
} */

#cancel-deleation{
    background-color: #a0a7b4;
}

/* .user-Events{
    width: 8em;
    margin-top: 60px;
    width: 250px;
} */

.event-content {
    margin-left: 2rem;
}
.profile-events-container {
    display: flex;
    flex-direction: column;
    gap: 20px 10px;
}

/***** events *******/

.events-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    width: 100%;
}

/* modal*/
.modal-container {
    background-color: rgba(0,0,0, 0.6);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3000;
}

.modal-container.show-modal {
    display: block;
}

.event-modal {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.3);
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 450px;
    animation: modalopen var(--modal-duration);
}

.modal-header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 15px;

}

.modal-header h3 {
    margin: 0;
    color: #050406;
}

.modal-content {
    padding: 20px;
    background-color: transparent;
}

.modal-form div {
    margin: 15px 0;
}

.modal-form label {
    display: block;
    margin-bottom: 5px;
}

.modal-form .form-input {
    padding: 8px;
    width: 100%;
}

.update-actions {
    display: flex;
    gap: 10px 20px;
}

.submit-btn {
    width: 100%;
    padding: 8px;
    border: none;
    background: #6a4cff;
    color: white;
    font-size: 18px;
}
.close-btn {
    background: transparent;
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
}

@keyframes modalopen {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}




/**** end of events**/

.userLink {
    text-decoration: none;
    color: white;
}

.invisible {
    visibility: hidden;
}

/**************** tab component *********/

.profile-tabs {
    display: flex;
    justify-content: center;
    gap: 10px 65px;
}
@media(max-width:540px){
    .profile-tabs {
        justify-content: space-evenly;
        gap: 0;
        margin-left: 1rem;
    }
}

.profile-tabs .profile-tab {
    display: flex;
    gap: 2px 8px;
    font-size: 1rem;
    padding: 0.8rem;
    cursor: pointer;
    transition: all 1s ease-in-out;
}
@media(max-width:660px){
    .profile-tabs .profile-tab {
        font-size: 0.7rem;
        padding: 0.2rem;
    }
}
.profile-tabs .profile-tab.active{
    border-bottom: 1px solid var(--primary-color);
}

.number-of {
    color: #4e4c50;
}



/* cards */
.profile-cards{
    margin-top: 3rem;
    margin-left: 1rem;
}



.pod-components,
.following-components,
.events-components{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}





/* followers, following in components divs */

.follow-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px 20px;
    margin-bottom: 2rem;
    /* width: 50%; */
}
/* .follow-item .follow-img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
} */
.follow-item .follow-img img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-right: .5rem;
}
/*

.tabs,.tab, .tab-switch, .tab-label, .tab-content
 { box-sizing: border-box; }


.tabs {
  position: relative;
  background-color: #0C0B0E;
  min-height: 20em;
  height: 60vh;
  margin-bottom: 1em;
  border-radius: 21px 21px 0px 0px;
  display: flex;
  justify-content: space-around;

}


.tab-switch { display: none; }

.tab-label {
    position: relative;
    display: block;
    line-height: 1.2;
    height: 3.5em;
    padding: 0.3em 1.618em;
    background: #0C0B0E;
    border-radius: 21px 21px 0px 0px;
    color: #75757B;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
    top: 0;
    transition: all 0.25s;
}
.tab-label:hover {
  top: -0.25rem;
  transition: all 0.25s;
}
.tab-number{
    font-weight: bold;
    color: white;
    
}

.tab-content {
    padding: 1.618rem;
    width: 100%;
    height: auto;
    position: absolute;
    background: transparent;
    box-shadow: 1px 2px 9px #6a4cff;
    border-radius: 21px;
    z-index: 1;
    top: 5.6em;
    min-height: 13.2em;
    left: 0;
    margin-bottom: 2em;
    opacity: 0;
    transition: all 0.35s;
    flex-wrap: wrap;
    display: flex;
    gap: 10px 108px;
}
@media(max-width: 770px){
    .tab-content{
        justify-content: center;
    }
}

.tab-switch:checked + .tab-label {
    background: #21212B;
    color: #6A4CFF;
    border-bottom: 0;
    transition: all 0.35s;
    z-index: 2;
    border-bottom: 0.12rem solid #6A4CFF;
    top: -0.0625rem;
  }
  .tab-switch:checked + .tab-label:hover { top: -0.0625rem; }
  .tab-switch:checked + .tab-label + .tab-content {
    opacity: 1;
    transition: all 0.35s;
    z-index: 3;
  }
*/
.load-more-btn {
    background: #6A4CFF;
    border: none;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    /* margin-left: 29%; */
}

/***************/


/************************* responsive ******************************************/




/******************  portrait tablets ************************/
/*

@media(max-width:1000px){

   .tab-content{
       flex-direction: column !important;
       width: auto;
   }

   .tab {
    width: 14%;
}

    .profile-veiw{
        width: fit-content;
        margin: 10rem 0rem 0rem;
        padding: 2rem!important;
    }


    .container{
        margin-left: 8rem;
        width: 420px;
    }

    .profile-veiw img {
        width: 12em;
        height: 12em;
        top: -27%;
        left: 25%;
        padding: 11px;
    }

    .profile-veiw .info div {
        padding: 1rem;
    }

    .follow-following{ 
        margin-top: 2rem;
        width: 140%;
    }    

    .current-camera-icon{
        left: 38%;
        font-size: 3rem;
    }

    .podcast-component {
       
        width: 30rem;
    }

    .podcast-component-heading{
        margin: 0 !important;
    }

    .add-podcast-btn {
       
        margin-left:0; 
        width: 250%;
        border-radius: 11px;
    }

    .fr-wrab{
        flex-wrap: wrap;
        justify-content: flex-start !important;
    }

    #f{
        margin-left: 2em;
    }

    .container {
        margin-left: 4rem;
}

}
*/



/* for larg mobiles */

@media(max-width:600px){

/*
    .tab-label{
        font-size: 1rem;
        
    }

    
    #f {
        margin-left: 0em;
        flex-direction: column;
    }

   

    

    .delete-icon {
        margin: 0rem -2.5rem !important;
    }*/

    .podcast-component{
        margin-left: 0 !important;
        font-size: 11px
        
    }

    /* .podcast-name{
        font-weight: 500 !important;
        font-size: 1rem !important;
        word-wrap: break-word;
    } */
}



/* for small mobiles */

/*
@media(max-width:440px){

    .container{
        margin-left: 2rem;
        
    }

    .profile-veiw img {
        width: 9em;
        height: 9em;
        padding: 11px;
    }
    
    .current-camera-icon{
        left: 38%;
        font-size: 2rem;
        top: 23%;
    }

    .user-bio {
        width: 14em;
    }

    .add-podcast-btn { 
        width: 122%; 
    }

    .follow-following {
        width: 90%;
    }

    .podcast-component {
        width: 13rem;
        flex-direction: column;
        align-items: center;
    }

    .delete-icon {
        margin: 0rem -5.7rem !important;
    }

    .podcast-component .pic img {
        border-radius: 23px !important;
    }
}

*/

