:root{
    --primary-color: #6A4CFF;
    --main-dark-color: #0C0B0E;
    --main-gray-color: #232229;
    --main-icon-color: #FFACA9;
    --hover-bg-color: #1B1923;
    --root-font-size: 100%;
}

html{
    font-size: var(--root-font-size);
}
body{
    background-color: var(--main-dark-color) ;
    /*overflow: hidden;*/
}


.hidden {
    display: none;
}

.emptyMessage{
    font-size: 1.5rem;
    color: #e8e0d2;
}

/*start profile main content*/ 

.profile{
    display: flex;
}

/*
.container .main-content{
   
}
*/

.profile-veiw{
    width: 800px;
    height: 500px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), conic-gradient(from 142.8deg at 37.82% 47.52%, rgb(61, 46, 135) 0deg, rgba(48, 41, 80, 0) 346.88deg, rgb(61, 46, 135) 360deg);
    border-radius: 38px;
    margin: 132px 35px 10px;
    position: relative;
    color: white;
}

.profile-veiw img{
    width: 200px;
    height:200px;
    padding: 20px;
    border-radius: 500px;
    border:5px dashed #6F52FF;
    box-sizing: border-box;
    position: absolute;
    top: -97px;
    left: 295px;
}


.profile-veiw .info{
    display: flex;
    justify-content: space-around;
    

}

.profile-veiw .info span{
    color: #DBBBBA;
}

.profile-veiw .info span.active{
    color: #FFACA9;
}

.profile-veiw .info div span{
    cursor: pointer;
    text-decoration: underline;
}

.btn-follow-profile{
    color: white;
    font-size: 1.375rem;
    font-weight: bold;
    margin-top: 60px;
    outline: none;
    width: 450px;
    height: 55px;
    background: #6A4CFF;
    border-radius: 11px;

}

.follow-following{
    transition: .2s;
    border: none;
}


.btn-following-profile{
    color: #2E2828;
    font-size: 1.375rem;
    font-weight: bold;
    margin-top: 60px;
    outline: none;
    width: 450px;
    height: 55px;
    background: #FFACA9;
    border-radius: 11px;
    
}


/*end profile main content*/


/*start side content*/

.container .side-content::before{
    content: '';
    width: 3px;
    min-height: 100vh;
    display: block;
    background-color:#403F46 ;
    position: absolute;
}


.container .side-content{
    /*background-color: #8eff4c;*/
    position: relative;
}

::-webkit-scrollbar{
    width:.8em;
}

::-webkit-scrollbar-track{
    background-color: #535456;
    border-radius: 100vw;
   
}

::-webkit-scrollbar-thumb{
    background-color: #1B1C1F;
    border-radius: 100vw;
    border: 2px solid #28292c ;
    
}

.side-content .scroll,
.top-pods-container .scroll,
.searce-pods-container .scroll{
    margin-top: 5rem;
    height: 29rem;
    overflow: auto;
    overflow-x: hidden;
}
/*
.podcast-component{
    margin: 2rem;
    background-color: #1B1C1F;
    border-radius: 23px;
    width: 458px;
    height: 226px;
    display: flex;
    color: #535456;
}


.podcast-component-heading{
    margin: 4rem 2rem 3rem;
}

.podcast-component-heading::after{
    content: '';
    width: 400px;
    height: 3px;
    display: block;
    margin: 3rem 0rem;
    background-color: #BCBCBC ;
    position: absolute;
}

.podcast-component .pic img{
    padding: 1.3rem;
    background-color: #242629;
    border-radius: 23px 0px 0px 23px;
    margin: 1rem;
    width: 9.4em;
    height: 11.1em;
}
    


.description span{
    color: #838588;
    font-size: 1rem;
}

.description hr{
   height: 2px;
   width: 14rem;
}

.play-podcast-btn{
    background-color: #242629;
    color: white;
    width: 6rem;
    height: 2.5rem;
    border-radius: 31.5px;
   
    outline: none;
    border: none;
}


.description .inner-infos{
    line-height: 1.78;
    
}

.description .inner-infos img{
    width: 2rem;
    height: 2rem;
    margin: 2px;
    line-height: 1.7px;
}
*/
/*end side content*/


/* followers content*/

.follow-content ul,
.top-pods-container ul,
.searce-pods-container ul{
    list-style: none;
    width: 30rem;
} 

.follow-btn{
    color: white;
    font-size: 1.375rem;
    font-weight: bold;
    margin-top: 1.3rem;
    outline: none;
    width: 130px;
    height: 45px;
    background: #6A4CFF;
    border-radius: 11px;
    border: none;
}

.following-btn{
    color: #2E2828;
    font-size: 1.375rem;
    font-weight: bold;
    margin-top: 1.3rem;
    outline: none;
    width: 130px;
    height: 45px;
    background: #FFACA9;
    border-radius: 11px;
    border: none;
}



.follow-content ul li,
.top-pods-container ul li,
.searce-pods-container ul li{
    padding: .8rem;
    margin: .3rem;
   
} 

.follow-content ul li p,
.top-pods-container ul li p,
.searce-pods-container ul li p{
    color: white;
    font-size: 1.375rem;
    font-weight: 500;

} 

.follow-content ul li p span,
.top-pods-container ul li p span,
.searce-pods-container ul li p span{
    color: #827C7C;
    font-size: 1rem;
    font-weight: 500;

} 

.follow-content img,
.top-pods-container img,
.searce-pods-container img{
    width: 5rem;
    height: 5rem;
    margin-right: .5rem;
}
/************ end ***********/


/* current user*/

.current-camera-icon{
    position: absolute;
    top: .6em;
    left: 7.5em;
    font-size: 3.5em;
    opacity: .8;
    color: #C8C6CE;
    cursor: pointer;
}

.current-camera-icon:hover{
   opacity: 1;
   color: white;

}

.add-podcast-btn{
    background-color: #25242D;
    outline: none;
    border: none;
    width: 10em;
    height: 2.3em;
    color: #C8C6CE;
    font-size: 1.5rem;
    border-radius: 50em;
    margin-top: .5em;
}


.podcast-component .delete-icon{
    margin: 0rem -1.5rem;
    cursor: pointer;
}

.podcast-component .delete-icon:hover{
    opacity: .5;
}





#cancel-deleation:hover,
#confirm-deleation:hover{
    opacity: .5;
}
/*end of current user*/

.btnHolder{
    display: flex;
    justify-content: space-around;
}

.delBtn{
    width: 10em;
}

#cancel-deleation{
    background-color: #a0a7b4;
}
/**************************************************** responsive ******************************************/


@media(max-width:1100px){

    .profile{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

/******************  portrait tablets ************************/


@media(max-width:900px){

    /* .profile{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } */

    .profile-veiw{
        width: 29em;
        margin: 10rem 0rem 0rem;
        padding: 2rem!important;
    }


    .container{
        margin-left: 8rem;
        width: 420px;
    }

    .profile-veiw img {
        width: 45%;
        height: 44%;
        top: -27%;
        left: 25%;
        padding: 11px;
    }

    .profile-veiw .info div {
        padding: 1rem;
    }

    .follow-following{ 
        margin-top: 2rem;
        width: 90%;
    }    

    .current-camera-icon{
        left: 5em;
        font-size: 3rem;
    }
}




/* for larg mobiles */


@media(max-width:600px){

    /* .profile{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } */

    
    .profile-veiw{
    width: 380px;
    height: auto;
    margin: 10rem 3rem 4rem;
    }

    .profile-veiw img {
    width: 50%;
    height: 50%;
    top: -32%;
    left: 27%;
    }

    .profile-veiw .info div {
        padding: 1rem;
    }

    .follow-following{ 
        margin-top: 2rem;
        width: 90%;
    }

    .container{
        margin-left: 3rem;
        /*max-width: 460px;*/
      /*  width: auto;*/
    }

    .side-content .podcast-component {
        width: 390px;
    }

    .inner-infos div{
        justify-content: unset!important;
    }

    .description hr {
        width: 11.5rem;
    }

    /*.container .side-content::before {
        display: none;
    }*/


    .follow-content ul {
        width: 20rem;
    }

    .follow-content ul li {
        flex-direction: column;
    }

    .podcast-component-heading::after {
        width: 222px;
    }

    .current-camera-icon{
        left: 4.5em;
    }
    
}



/* for small mobiles */


@media(max-width:440px){

    .container{
        margin-left: 8rem;
        width: 230px;
    }
    
    .profile-veiw{
        width: 230px;
        margin: 10rem 0rem 4rem;
        padding: 2rem!important;
    }

    .profile-veiw img {
        width: 52%;
        height: 21%;
        top: -10%;
        left: 25%;
        padding: 11px;
    }

    .profile-veiw h2{
        padding: 1rem!important;
        /*width: 10rem;*/
        margin-top: 3rem!important;
    }

    .profile-veiw .info {
        
        flex-direction: column;
    }

    .profile-veiw .info div {
        padding: 1rem;
    }

    .follow-following{ 
        margin-top: 2rem;
        width: 90%;
    }


    .side-content .podcast-component {
        width: 216px;
        height: auto;
        flex-direction: column;
        text-align: center;

    }

    .current-camera-icon{
        left: 2.5em;
    }

    
    
    
}



